.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 60px;
  z-index: 100;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.logo-container h2 {
  letter-spacing: 3px;
  font-size: 1.3rem;
}